*{
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: "American Typewriter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 24px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: whitesmoke;
}
/* button */
.button {
    padding: 16px 32px;
    color: white;
    background-color:whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    color: white;;
}

.button:focus {
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    color: grey;
;
}
/* header */
.header{
    background-color: black;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 200px;
    flex-grow: 1;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* hero section */
.hero-section {
    padding: 300px 0;
    background-image: url("../images/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
.hero-img{
    width: 50%;
    height: 50%;
}
/*team-section*/
.team{
    padding: 48px 0;
    background-color: black;

}
.team-section{
    padding: 16px 0;
    background-color: black;
}

.teammate-list {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.teammate {
    font-size: 20px;
    font-weight: 300;
    color: white;
}